$colour-blue: #36598C;
$colour-fern: #6FC570;
$colour-confetti: #E1C94E;
$colour-whiskey: #D1995E;
$colour-flamingo: #E75B4C;

$colour-black: #222222;
$colour-white: #ffffff;

$colour-white-smoke: #EAEAEA;
$colour-light-grey: #D6D6D6;
$colour-mortar: #515151;
$colour-eclipse: #383838; 
