body {
  background: $colour-black;
  color: $colour-white;
}

.cs-content {
  @include tablet {
    padding: 0;
  }

  &__section-inner {
    padding: 0 16px;

    @include tablet {
      max-width: 928px;
      margin: 0 auto;
    }
  }
}
